$mobile      : 'only screen and (max-width : 767px)';


html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	// overflow:hidden;
	position: static;
	background: #fff;
}

body{
	height: 100%;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: rgba(0,0,0,.8);
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,h5,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
	font-family: Arial;
}

.selector-container{
	position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 400px;
    padding: 20px;
    .item-container{
    	margin-bottom: 10px;
    }
    .select{
    	padding: 10px;
    	background: white;
    	cursor: pointer;
    	font-size: 12px;

    }

    .timeline-toggler{
    	background: rgba(255,255,255,.6);
    	color: black;
    	border: 2px solid rgba(220, 20, 100, .8);
    	font-weight: 700;
    	position: fixed;
    	left: 20px;
    	

    }
}

.mainLoader{
	position: absolute;
	z-index: 10;
	width: 200px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.logo{
	-webkit-text-stroke: 1px rgba(255,255,255,.5);
    color: rgba(0,0,0,0);
    font-family: Arial;
    font-weight: lighter;
    position: fixed;
    right: 14px;
    top: 6px;
    z-index: 20;
    margin: 0;
    font-size: 32px;
    opacity: 1;
    @media #{$mobile}{
    	top: 10px;
    }
}

.closeBtn{
	position: fixed;
	top: 52px;
	right: 40px;
	// display: none;
	width: 50px;
    height: 50px;
    text-indent: -9999px;
    padding: 0 4px;
    z-index: 10;
    cursor: pointer;

   
	@media #{$mobile}{
		right: 10px;
		width: 30px;
    	height: 30px;
	}
}

.container{
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	opacity: 0;

}

.Main-Canvas {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position: absolute;
	z-index: 0;
}

.imageContainer{
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	> img{
		height: 100%;
		margin: 0 auto;
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: scale(0);
		-webkit-transform: scale(0);
		opacity: 0;

	}
}



.nav{
	position: fixed;
    top: 0px;
    left: 0px;
    font-family: "Arial";
    padding: 10px;
    z-index: 5;
    color: rgba(0,0,0,.8);
    z-index: 10;
    opacity: 1;

	.nav-item{
		cursor: pointer;
		padding: 10px;
		font-size: 10px;
		position: relative;
		left: 0;
		transition: transform .5s;
		-webkit-transition: transform .5s;
		&:hover{
			background: white;
		}

		@media #{$mobile}{
			display: block;
			padding: 4px;
			margin-bottom: 10px;
			transform: translate(-200px, 0);
			background: white;
			&:hover{
				background: transparent;
			}
		}
	}

	.menuBurger{
		display: none;
		width: 39px;
	    height: 35px;
	    text-indent: -9999px;
	    padding: 0 4px;
	    margin-top: 0;
	    margin-bottom: 10px;

		@media #{$mobile}{
			display: block;
		}

	}

}

.overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	display: none;
	-webkit-transition: opacity .6s, transform .6s;  /* Android 2.1+, Chrome 1-25, iOS 3.2-6.1, Safari 3.2-6  */
    transition: opacity .6s, transform .6s;  /* Chrome 26, Firefox 16+, iOS 7+, IE 10+, Opera, Safari 6.1+  */
    color: rgba(0,0,0,.8);
    -webkit-transform: scale(0.8);  /* Chrome, Opera 15+, Safari 3.1+ */
    //   -ms-transform: scale(0.8);  /* IE 9 */
    transform: scale(.8);  /* Firefox 16+, IE 10+, Opera */
    // background: rgba(0,0,0,.3);
    padding: 40px 100px;
    // background: rgba(255,255,255,.6);
    .overlayTitle{
    	text-align: center;
    	font-size: 32px;

    }
    


	
}

.touchLayer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contact{
	padding-top: 20%;
	text-align: center;
	> h1{
		font-size: 60px;
		color: rgba(0,0,0,.8);
	}

	@media #{$mobile}{
		// padding-top: 40px;
		padding: 40% 0;
    	margin-top: 0;
		> h1 {
			font-size: 20px;
		}
	}
}

.about{
	// background: rgba(250, 40, 40, .7);
	margin-top: 100px;
	.overlayDescr{
    	line-height: 22px;
    	width: 50%;
    }

    @media #{$mobile}{
    	padding: 0px 10px;
	    font-size: 10px;
	    line-height: 0px;
	    padding-top: 40px;
    	margin-top: 16%;
    	.overlayDescr{
    		line-height: 18px;
    		font-size: 14px;
    		width: 90%;
    	}
    }
}

.projects{
	// background: rgba(250, 40, 240, .7);
	padding: 0;
	margin-top: 80px;
	.projectsContainer{
		width: 80%;
		margin: 20px auto;
		position: relative;
	}
	.projectDetailWrapper{
		opacity: 0;
		display: none;
		height: 100%;
	    width: 100%;
	    // background: rgba(0,0,0,.1);
	    z-index: 8;
	    position: relative;
	    transition: opacity .5s;
	    -webkit-transition: opacity .5s;
	    
	    .projectDescr{
	    	width: 100%;
		    text-align: center;
		    padding: 0 10%;
		    font-size: 12px;
    		line-height: 20px;
	    }
	    .projectSlider{
	   		
			margin: 20px auto;
   			position: relative;
		    .sliderNav{
		    	width: 20px;
		    	height: 20px;
		    	position: absolute;
		    	top: 50%;
		    	margin-top: -10px;
		    	cursor: pointer;
		    	transition: transform .2s;
		    	-webkit-transition: transform .2s;
		    	transform: scale(1.0);
		    	-webkit-transform: scale(1.0);
		    	&:hover{
		    		transform: scale(1.2);
		    		-webkit-transform: scale(1.2);
		    	}
		    	&.sliderNext{
		    		right: -30px;
		    	}
		    	&.sliderPrev{
		    		left: -30px;
		    	}
		    }
		    .sliderContainer{
		    	position: absolute;
		    	overflow: hidden;
		    	height: 100%;
		    }
		    
	    	.sliderItem{
	    		position: absolute;
	    		top: 0;
	    		width: 100%;
	    		height: 100%;
	    		transition: transform .5s, opacity .5s;
	    		-webkit-transition: transform .5s, opacity .5s;
	    		z-index: 2;
	    		> img{
	    			width: 100%;
					height: auto;
	    		}
		    }
	    }

	}
	.projectItem{
		background: rgba(0,0,0,.2);
		position: absolute;
		top: 0;
		left: 0;
		cursor: pointer;
		transition: opacity .4s, transform .3s;
		-webkit-transition: opacity .4s, transform .3s;
		> .touchLayer{
			z-index: 2;
		}
		.projectItemLoader{
			z-index: 3;
		}
		.itemCaption{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			color: white;
			background: rgba(0,0,0,.6);
			z-index: 1;
			opacity: 0;
			transition: opacity .4s;
			-webkit-transition: opacity .4s;
			padding-top: 22%;

			> h5{
				font-size: 20px;
				text-align: center;
				text-transform: uppercase;
			}
			.projectOpenBtn{
				font-size: 16px;
    			color: white;
    			
			}
		}
		> img{
			position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    transform: scale(1);
		    -webkit-transform: scale(1);
		    opacity: 1;
		    z-index: 0;
		}
	}
	@media #{$mobile}{
		padding-top: 40px;
    	margin-top: 0;
	}

}




